@app.route("/cadastro", methods=["GET","POST"])
def cadastro():

    if request.method == "POST":

        nome = request.form.get("nome", "").strip()
        senha = request.form.get("senha", "")

        if not nome or not senha:
            return render_template(
                "cadastro.html",
                mensagem="Preencha todos os campos"
            )

        # 🔥 verifica se já existe
        if User.query.filter_by(nome=nome).first():
            return render_template(
                "cadastro.html",
                mensagem="Usuário já existe"
            )

        senha_hash = bcrypt.generate_password_hash(senha).decode()

        user = User(
            nome=nome,
            senha=senha_hash,
            role="user"  # 🔥 padrão
        )

        db.session.add(user)
        db.session.commit()

        return render_template(
            "cadastro.html",
            mensagem="Cadastro enviado. Aguarde aprovação do administrador."
        )

    return render_template("cadastro.html")
