<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-page">

<div class="login-container">

    <!-- LOGO GRANDE -->
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">

    <!-- CARD LOGIN -->
    <div class="login-card">

        <h2>Acesso ao Sistema</h2>

        <form method="POST">

            <input
                type="text"
                name="nome"
                placeholder="Usuário"
                required
            >

            <input
                type="password"
                name="senha"
                placeholder="Senha"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>

        <!-- MENSAGENS -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash">
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    </div>

</div>

</body>
</html>
